<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>근무 등록폼 - Bootstrap</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
            min-height: 100vh;
            background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
        }

        .input-form {
            max-width: 680px;

            margin-top: 80px;
            padding: 32px;

            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }
    </style>
</head>

<body>
<form class="container" action="/calendar/create" method="post">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">근무 등록</h4>

                <div class="mb-3">
                    <label for="mini">시급</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="mini" name="mini" value="10030">
                        <div class="input-group-append">
                            <span class="input-group-text">원</span>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="name">근무 날짜</label>
                    <input type="date" class="form-control" id="date" name="date" placeholder=""
                           value="{{#calendar}}{{date}}{{/calendar}}">
                </div>

                <div class="mb-3">
                    <label for="startTime" class="form-label">근무 시간</label>
                    <div class="d-flex gap-2 align-items-center">

                        <!-- 출근 시간 -->
                        <div class="flex-grow-1">
                            <input type="time" class="form-control" id="startTime" name="startTime"/>
                        </div>

                        <!-- 구분 텍스트 -->
                        <span>~</span>

                        <!-- 퇴근 시간 -->
                        <div class="flex-grow-1">
                            <input type="time" class="form-control" id="endTime" name="endTime"/>
                        </div>

                    </div>
                </div>

                <div class="mb-3">
                    <label for="name">휴게 시간</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="breakTime" name="breakTime" value="0">
                        <div class="input-group-append">
                            <span class="input-group-text">분</span>
                        </div>
                    </div>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="sub" name="sub">
                    <label class="custom-control-label" for="sub">대타근무(주휴 포함X)</label>
                </div>

                <div class="mb-4"></div>

                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    추가하기
                </button>
        </div>
    </div>
</form>
    <!--<footer class="my-3 text-center text-small">
        <p class="mb-1">&copy; </p>
    </footer>-->
</form>

</body>

</html>